@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;
	color: white;
	max-height: 100vh;
}
@layer components {
	.linkInHeader {
		@apply flex items-center text-slate-300 hover:text-white transition-colors duration-[500ms];
	}
}
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
	visibility: hidden;
	min-width: 160px;
	background-color: #242424;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 5px;
	font-size: 13px;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	width: 120px;
	bottom: 120%;
	left: 45%;
	margin-left: -60px;

	/* Transition */
	opacity: 0;
	transition: opacity .5s; 
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.scrollable-container {
	max-height: 90%;
	overflow-y: auto;
}
.text-size {
	font-size: 11px;
	color:#a2a2a2;
}
.hover:fill-white:hover {
    fill: #ffffff; 
}
.not-allowed-cursor {
	cursor: not-allowed;
}
.footer-background {
background-image: linear-gradient(90deg,#af2896,#509bf5);
}


@media (max-width: 1017px) {
	.content-margin {
		padding-right: 350px !important;
	}
}
@media screen and (max-width: 790px) {
	.footer-button{
		margin-right: 50px !important;
	}
}
@media screen and (max-width: 767px) {
	.content-margin {
		padding-right: 0px !important;
	}
	body {
	  zoom: 0.8; 
	}
  }

  @media screen and (max-width: 633px) {
	body {
	  zoom: 0.7; 
	}
  }
  @media (max-width: 540px) {
	.footer-button {
		margin-right: 90px !important;
	}
}
  @media screen and (max-width: 509px) {
	body {
	  zoom: 0.6; 
	}
  }
@media (max-width: 430px) {
	.footer-button {
		margin-right: 150px !important;
	}
}
@media (max-width: 395px) {
	.footer-button {
		margin-right: 200px !important;
	}
}
@media (max-width: 367px) {
	.footer-button {
		margin-right: 260px !important;
	}
}
@media (max-width: 330px) {
	.footer-button {
		margin-right: 290px !important;
	}
	.right-buttons {
		margin-left: 0px !important;
	}
}









