@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;
	color: white;
	max-height: 100vh;
	overflow: hidden;
}
@layer components {
	.linkInHeader {
		@apply flex items-center text-slate-300 hover:text-white transition-colors duration-[500ms];
	}
}
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
	visibility: hidden;
	min-width: 160px;
	background-color: #242424;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 5px;
	font-size: 13px;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	width: 120px;
	bottom: 130%;
	left: 45%;
	margin-left: -60px;

	/* Transition */
	opacity: 0;
	transition: opacity 0.5s ease; 
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.scrollable-container {
	max-height: 90%;
	overflow-y: auto;
}
.text-size {
	font-size: 11px;
	color:#a2a2a2;
}
.hover:fill-white:hover {
    fill: #ffffff; 
}
.not-allowed-cursor {
	cursor: not-allowed;
}
.footerBacground {
background-image: linear-gradient(90deg,#af2896,#509bf5);
}
@media (max-width: 213px) {
    .hide-buttons {
        display: none;
    }
}